
*~
INSTALL
Makefile.in
aclocal.m4
autom4te.cache
cl-desc
config.h.in
configure
depcomp
install-sh
m4
missing
stamp-h.in 
ChangeLog
config.cache
config.h
config.log
maint.mk
Makefile
/libtool
.deps
/GNUmakefile
/.sc-start-sc_copyright_check
/.sc-start-sc_m4_quote_check
/.sc-start-sc_prohibit_empty_lines_at_EOF
/.sc-start-sc_trailing_blank
