/useless-if-before-free
/warn-on-use.h
/c++defs.h
/gitlog-to-changelog
/update-copyright
/vc-list-files
/mdate-sh
/gendocs.sh
/ltmain.sh
/compile
/ar-lib
/arg-nonnull.h
/texinfo.tex
/config.guess
/config.sub
/test-driver
/snippet/*
/googletest-Makefile.am
/config.rpath
